In [ ]:
from bs4 import BeautifulSoup as bs

In [ ]:
import requests as re

In [ ]:
import pandas as pd

In [ ]:
a="https://en.m.wikipedia.org/wiki/List_of_tallest_buildings_in_India"

In [ ]:
page=re.get(a)

In [ ]:
code=bs(page.text,"html")
print(code)

In [ ]:
table=code.find("table")
print(table)

In [ ]:
tbhead=table.find_all("th")
print(tbhead)

In [ ]:
headings=[i.text for i in tbhead]
print(headings)

In [ ]:
import pandas as pd
mydf=pd.DataFrame(columns=headings)#creating a dataframe for the headings
print(mydf)

In [ ]:
tr=table.find_all("tr")
print(tr)

In [ ]:
td=table.find_all("td")
print(td)

In [ ]:
data=[i.text for i in td]
print(data)

In [ ]:
import pandas as pd
df=pd.DataFrame(columns=data)#creating a dataframe for the headings
print(df)

In [ ]:
data[1:4]
data[4:8]
data[4:12]

In [ ]:
mydf = pd.DataFrame(columns=["Column_1", "Column_2", "Column_3", "Column_4", "Column_5", "Column_6", "Column_7", "Column_8", "Column_9"])

ind = 0
st = 0
stop = 9

for i in range(len(data)//9):
    mydf.loc[ind] = data[st:stop]
    st += 9
    stop += 9
    ind += 1

print(mydf)

In [ ]:
mydf.to_csv("listofbuildings.csv")